
.left img{
    height: 550px;
    width: 400px;
}
.right{
    width: 430px;
    background-color: rgba(128, 128, 128, 0.156);
}
.box{
    display: flex;
    box-shadow: 0px 0px 10px black;
    margin: auto;
    /* transform: translateY(10px);  */
    width: 780px;
    height: 550px;
}
.content{
    width: 250px;
   margin-top: 150px;
   transform: translate(80px);
   
}
.content input{
    margin-bottom: 10px;
    height: 25px;
    width: 200px;
    border: none;
}